.title {
  margin-bottom: 15%;
  font-size: 40px;
  text-align: center;
  color: rgb(0, 132, 255);
}
.layer {
  margin: 0 7%;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 1px -1px 20px #dbdbdb;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
